<div id="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"><%= @orders['items'].sum {|v| v['items'][0]['price'].to_f}.round(2) %></h2>
            <p class="card-text">Chiffre d'affaire</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"><%= @orders['items'].select {|v| v['status'] == 'Processed'}.count %></h2>
            <p class="card-text">Nouvelles commandes</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"><%= @orders['items'].count %></h2>
            <p class="card-text">Commandes totales</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container last-orders">
    <h2>Dernières commandes</h2>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
