<div class="container index" id="periods">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <% if current_user.admin %>
            <th scope="col">Créateur</th>
          <% end %>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @periods.each do |period| %>
          <tr>
            <td><%= period.start_date.strftime('%d/%m/%Y') %></td>
            <td><%= period.end_date.strftime('%d/%m/%Y') %></td>
            <% if current_user.admin %>
              <td><%= period.user.firstname + ' ' + period.user.lastname %></td>
            <% end %>
            <td><%= link_to 'Voir', period %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
