<div class="container index" id="periods">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @periods.each do |period| %>
          <tr>
            <td><%= period.start_date %></td>
            <td><%= period.end_date %></td>
            <td><%= link_to 'Voir', period %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
